---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Softwareentwicklung in der Praxis</title>
	</head>
	<body class="max-w-7xl mx-auto px-4 hyphens-auto" lang="de">
		<Navigation />
		<main>
			<header class="text-center my-12">
				<h1 class="text-4xl md:text-5xl font-bold text-gray-800 mb-4">
					Infos für Unternehmen
				</h1>
			</header>



			<section class="bg-white px-8 mt-8">
				<h2 class="text-3xl font-bold text-gray-800 mb-6">
					Worum geht es?
				</h2>

				<p class="text-lg text-gray-700">
					Wir suchen immer nach Unternehmen, die Interesse daran
					haben, unseren Studierenden praxisrelevantes Wissen zu
					vermitteln. Das kann sowohl technische Fertigkeiten, als
					auch Softskills betreffen.
				</p>

				<p class="text-lg text-gray-700">
					Unternehmen kommen so früh in Kontakt mit Studierenden, die
					fachlich interessiert sind und können ihr Wissen mit der
					nächsten Generation von Entwickler:innen teilen.
				</p>
			</section>

			<section class="bg-white px-8 mt-8">
				<h2 class="text-3xl font-bold text-gray-800 mb-6">
					Worum geht es nicht?
				</h2>

				<p class="text-lg text-gray-700">
					Die Veranstaltung soll keine Stellenbörse oder ein
					Recruitingevent sein. Sie können natürlich gerne etwas
					über Ihre Firma erzählen und auch konkrete Stellenangebote
					vorstellen, allerdings muss die Vermittlung von Wissen im
					Vordergrund stehen.
				</p>
			</section>

			<section class="bg-white px-8 mt-8">
				<h2 class="text-3xl font-bold text-gray-800 mb-6">
					Veranstaltungsformate?
				</h2>
				<p class="text-lg text-gray-700">
					In der Vergangenheit hatten wir in der Regel Workshops (ca. 4 Stunden) und Vorträge (ca. 90 - 120 Minuten). An unseren Veranstaltungen nehmen, je nach Format, üblicherweise zwischen 10 und 30 Studierende aus der Informatik teil.  
					
					Wir haben Räumlichkeiten währende der Vorlesungszeit dienstags ab 16:30 Uhr reserviert, wir können bei Bedarf aber auch davon abweichen. Wir können uns auch gerne über ganz andere Formate unterhalten.   
				</p>
			</section>

			<section class="bg-white px-8 mt-8">
				<h2 class="text-3xl font-bold text-gray-800 mb-6">
					Interesse?
				</h2>
				<p class="text-lg text-gray-700">
					Wenn ein Interesse besteht einmal einen Termin mit uns auszugestalten, dann sollten wir unbedingt miteinander sprechen: <a href="https://www.cs.hhu.de/lehrstuehle-und-arbeitsgruppen/softwaretechnik-und-programmiersprachen/unser-team/team/bendisposto" class="text-[#0E7393]  underline decoration-2 underline-offset-2 hover:text-[#0a5a75] transition-colors">Kontaktadresse</a>
				</p>
			</section>



		</main>
	</body>
</html>
