---
import Next from "./Next.astro";
---

<div class=" bg-slate-100 flex flex-col px-5 md:flex-row gap-2 py-10 justify-center">
    <div class="flex flex-col justify-center flex-auto max-w-2xl">
        <h1 class="text-6xl hyphens-manual text-balance" lang="de">
            Software&shy;entwicklung in der Praxis
        </h1>
        <p class="md:text-xl mt-2 hyphens-auto text-balance">
            Lern durch Vorträge, Coding-Dojos, Workshops und Diskussionen mit
            Profis, wie moderne Softwareentwicklung wirklich funktioniert!
        </p>
    </div>
    <div class="hidden md:block p-6">
        <img src="sep_hero.webp" class="rounded-lg h-auto max-w-sm max-h-80" alt=""/>
    </div>
</div>
