<section>
    <h2 class="sr-only">Anmeldung zum Newsletter</h2>
    <div class="bg-slate-100 p-5 text-center">
        <p class="text-lg md:text-xl  bold mt-2">
            Meld dich für unseren Newsletter an, um keine Veranstaltung zu
            verpassen.
        </p>
        <div class="my-3">

            <a href="https://lists.hhu.de/accounts/login/?next=/postorius/lists/sep.uni-duesseldorf.de/"
            >
            <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg md:text-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >Anmelden</button
            >
        </a>
    </div>
        <div class="text-balance text-xs md:text-sm">
            Wenn du nicht deinen Universitätsaccount nutzen willst, kannst du
            dich auch mit einer <a
                class="text-blue-500 underline whitespace-nowrap"
                href="https://lists.hhu.de/postorius/lists/sep.uni-duesseldorf.de/"
                >beliebigen Mailadresse</a
            > anmelden.
        </div>
    </div>
</section>
