<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
<body>
    <div class="container">
    <header>
        <div class="row header-title-row">
            <h1 class="h4 text-center text-muted">{{ page.title }}</h1>
        </div>
        <div class="nav-scroller py-1 mb-2">
            <nav>
                <ul class="d-flex justify-content-between">
                    <li class="p-2 text-muted"><a href="/">Startseite</a></li>
                    <li class="p-2 text-muted"><a href="/neu.html">Worum geht es?</a></li>
                    <li class="p-2 text-muted"><a href="/upcoming.html">Upcoming</a></li>
                    <li class="p-2 text-muted"><a href="/archiv.html">Archiv</a></li>
                    <li class="p-2 text-muted"><a href="/formate.html">Formate</a></li>
                    <li class="p-2 text-muted"><a href="/formalia.html">Leistungspunkte erwerben</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        <p>&copy; 2024 Softwareentwicklung in der Praxis</p>
    </footer>
</div>
</body>
</html>